.wrapper{
    width: 1440px;
   padding: 80px;
   margin: auto;
}


/* Header */

.top-header{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 1440px;
    height: 80px;
    align-items: center;
    border-bottom: 1px solid #EBE8F4;
    background: #FFF;
}

.avion{
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    }

.top-header-list{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.top-header-nav{
font-family: Open Sans;
font-size: 16px;
}

.header-item{
    margin-left: 44px;
    text-decoration: none;
    color: #726E8D;
}

.item-plant{
    margin-left: 0;
}


/* Header basket */
.top-header-basket-img{
    display: flex;

}

.top-header-basket-list{
    opacity: 0;
}

.header-item-basket,
.header-item-avatar,
.header-item-search{
    width: 16px;
    height: 16px;
    margin: 16px;
    list-style: none;
    text-decoration: none;
}

.header-item-basket{
    background-image: url(/image/shopping--cart.svg);
}

.header-item-avatar{
    background-image: url(/image/user--avatar.svg)

}

.header-item-search{
    background-image: url(/image/search.svg);
   
    }




/* Main header */
.main-header{
    display: flex;
    flex-direction: column;

}
 
.main-header-name{
 text-align: center;
 color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 36px;
line-height: 140%; /* 50.4px */
margin: 80px 0 24px 0;
}

.main-header-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:417px;
    padding: 12px 24px;
}

.dropdown-list{
display: flex;
align-items: center;
}

.dropdown,
.by{
    color: #2A254B;
    font-family: "Open Sans";
    line-height: 150%;
}

.dropdown{
    border:none; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   background: url(/image/Caret--down.svg) 100% / 15px no-repeat transparent;
   padding: 12px 24px;
   font-size: 16px;
}

.by{
    padding: 12px 24px;
    font-size: 14px;
}

.dropdown-right{
    border:none; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
   background: url(/image/Caret--down.svg) 100% / 10px no-repeat transparent;
   padding: 10px;
}

/*Grid */
.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  grid-gap: 20px;
} 
 
.grid-item{

color: var(--Dark-Primary, #2A254B);
font-family: Montserrat;
font-size: 20px;
line-height: 140%; /* 28px */
}

.grid-item-txt {
    margin-bottom: 8px;
}

.img{
    width: 100%;
    margin-bottom: 24px;
}

.button-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
}

button {

    padding: 16px 32px;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px; 
    line-height: 150%; /* 24px */ 
    border: none;
    background-color: #F9F9F9;
}
 

/* Email sign up */
.sign-up-wrapper{
    display: flex;
    
}

.wrapper-item{
    width: 720px;
    height: 521px;
}

.email-sign-up-img{
    background-image: url(/image/join-background.jpg);
   

}

  .sign-up-text {
    display: flex;
    flex-direction: column;
  
  }

  .signup-item{
    height: 100%;
  }


  .signup-txt-name{
    color: var(--Dark-Primary, #2A254B);
    text-align: center;
    font-family: Montserrat;
    font-size: 32px;
    margin: 71px 130px 21px 49px;
  }

.signup-txt-p{
    color: var(--Dark-Primary, #2A254B);
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 150%; /* 24px */
    margin: 0 201px 0 49px;
}


.sign-up{
    padding: 16px 32px;
    color: var(--White, #FFF);
font-family: "Open Sans";
font-size: 16px;
line-height: 150%; /* 24px */
background-color: #000;
margin: 126px 0 70px 72px;
}

.email{
   
    width: 472px;
    height: 56px;
    border: none;
    margin-right: 0;
}

/* Footer */
.footer-wrapper{
    display: flex;
    height: 380px;
    background-color: #2A254B;
    flex-direction: column;

}

.footer-main-contaier{
    display: flex;
} 

.footer-list{
    display: flex;
    width: 720px;
    
}

.img-map{
width: 642px;
height: 195px; 
margin-top: 58px ;
}

.footer-img{
    width: 720px;
    
}

.footer-list-title{
    color: var(--White, #FFF);
    font-family: Montserrat;
    font-size: 16px;
}

.footer-list-element{
    color: var(--White, #FFF);
    font-family: "Open Sans";
    font-size: 14px;
    text-decoration: none;
    gap: 12px;
}

.footer-list-1, .footer-list-2, .footer-list-3{
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    gap: 12px;
}

.footer-list-1{
    
    margin-left:82px;
}

.footer-list-2{
    margin-left:131px;
}

.footer-list-3{
   margin-left: 131px;
}

 hr{
    width: 1277px;
    height: 1px;
    background: #4E4D93; 
 }
 
/* Social mediator */

.footer-social{
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.footer-p{
color: var(--White, #FFF);
font-family: "Open Sans";
font-size: 14px;
margin: 24px 0 25px 80px;
}

.social-container{
    display: flex;
    justify-content: end;
    margin: 22px 83px 22px 0;
    gap: 24px;
}



.social-list{
    width: 24px;
    height: 24px;
    background-repeat:no-repeat ;
    background-size: 100%;
}

.social-logo-1{
    background-image: url(/icon/Logo--linkedin\(1\).svg);
}

.social-logo-2{
    background-image: url(/icon/Logo--facebook.svg);
}

.social-logo-3{
    background-image: url(/icon/Logo--instagram.svg);
}

.social-logo-4{
    background-image: url(/icon/Logo--skype.svg);
}

.social-logo-5{
    background-image: url(/icon/Logo--twitter.svg);
}

.social-logo-6{
    background-image: url(/icon/Logo--pinterest\(1\).svg);
}